@theme {
    --font-foundation-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-foundation-mono: ui-monospace, 'SFMono-Regular', consolas, 'Liberation Mono', monospace;

    --text-foundation-display: 2.25rem;
    --text-foundation-display--line-height: 2.5rem;
    --text-foundation-heading: 1.5rem;
    --text-foundation-heading--line-height: 2rem;
    --text-foundation-title: 1.125rem;
    --text-foundation-title--line-height: 1.75rem;
    --text-foundation-body: 1rem;
    --text-foundation-body--line-height: 1.5rem;
    --text-foundation-label: 0.875rem;
    --text-foundation-label--line-height: 1.25rem;
    --text-foundation-caption: 0.75rem;
    --text-foundation-caption--line-height: 1rem;
    --text-foundation-code: 0.875rem;
    --text-foundation-code--line-height: 1.25rem;
}
