@layer base {
    button:not(:disabled),
    summary,
    select:not(:disabled),
    input[type='checkbox']:not(:disabled),
    input[type='radio']:not(:disabled),
    input[type='date']:not(:disabled),
    input[type='datetime-local']:not(:disabled),
    [role='button']:not([aria-disabled='true']) {
        cursor: pointer;
    }
}

[data-ui-date-picker] input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

[data-ui-multi-select] option {
    margin-block: 0.125rem;
    border-radius: var(--radius-admin-input);
    padding: 0.375rem 0.5rem;
}

[data-ui-multi-select] option:checked {
    color: white;
    background: var(--color-admin-primary) linear-gradient(0deg, var(--color-admin-primary), var(--color-admin-primary));
}
